
  <div>
    <!-- Search bar -->
    <div class="search-container ms-3">
      <input type="text" [(ngModel)]="searchTitle" placeholder="Enter Content Title">
      <button (click)="searchContent()">Search</button>
      <p class="search-message" [ngStyle]="{'color': searchResult.exists ? 'green' : 'red'}">
        {{ searchResult.message }}
      </p>
    </div>

    <!-- No type set -->
    <div class="row mt-4 p-3 bg-info-subtle ">
      <div *ngFor="let content of getContentArray() | contentTypeFilter:''; let i = index;let isFirst=first" 
      class="col-12 col-md-4 mb-3"
      (click)="handleClick(content.id, content.title)">
          <div class="{{ isFirst ? 'card border-2 border-black' : 'card border-1 border-success' }}" [id]="modTitle(content.title)"  style="color: red;">
            <div class="card-body">
              <h5 class="card-text fw-bold text-center">{{ content.title }}</h5>
              <p class="card-text">Description: {{ content.description }}</p>
              <p class="card-text">Creator: {{ content.creator }}</p>
              <img *ngIf="content.imgURL" [src]="content.imgURL" class="card-img-top" alt="{{ content.title }}">
              <p *ngIf="content.type" class="card-text">Type: {{ content.type }}</p>
              <p *ngIf="content.tags && content.tags.length > 0" class="card-text">Tags: {{ content.tags.join(', ') }}</p>
              </div>
          </div>
       </div>
    </div>
   
    <!-- type set to android-->
    <div class="row mt-4 p-3 bg-dark-subtle ">
      <h5>Android devices</h5>
      <div *ngFor="let content of getContentArray() | contentTypeFilter:'android'; let i = index;let isFirst=first" 
      class="col-12 col-md-4 mb-3"
      (click)="handleClick(content.id, content.title)">
          <div class="{{ isFirst ? 'card border-2 border-black' : 'card border-1 border-success' }}" [id]="modTitle(content.title)"  style="color: green;">
            <div class="card-body">
              <h5 class="card-text fw-bold text-center">{{ content.title }}</h5>
              <p class="card-text">Description: {{ content.description }}</p>
              <p class="card-text">Creator: {{ content.creator }}</p>
              <img *ngIf="content.imgURL" [src]="content.imgURL" class="card-img-top" alt="{{ content.title }}">
              <p *ngIf="content.type" class="card-text">Type: {{ content.type }}</p>
              <p *ngIf="content.tags && content.tags.length > 0" class="card-text">Tags: {{ content.tags.join(', ') }}</p>
              </div>
          </div>
       </div>
    </div>
    

    <!-- type set to ios-->
    <div class="row mt-4 p-3 bg-success-subtle ">
      <h5>IOS devices</h5>
      <div *ngFor="let content of getContentArray() | contentTypeFilter:'ios'; let i = index;let isFirst=first" 
      class="col-12 col-md-4 mb-3"
      (click)="handleClick(content.id, content.title)">
          <div class="{{ isFirst ? 'card border-2 border-black' : 'card border-1 border-success' }}" [id]="modTitle(content.title)"  style="color: blue;">
            <div class="card-body">
              <h5 class="card-text fw-bold text-center">{{ content.title }}</h5>
              <p class="card-text">Description: {{ content.description }}</p>
              <p class="card-text">Creator: {{ content.creator }}</p>
              <img *ngIf="content.imgURL" [src]="content.imgURL" class="card-img-top" alt="{{ content.title }}">
              <p *ngIf="content.type" class="card-text">Type: {{ content.type }}</p>
              <p *ngIf="content.tags && content.tags.length > 0" class="card-text">Tags: {{ content.tags.join(', ') }}</p>
              </div>
          </div>
       </div>
    </div>
  </div>